//
//  Secrets.xcconfig
//  NetworkApp
//
//  Created by Ivan Behichev on 07.05.2025.
//

API_KEY = 4f8afb35881a873ad0abc5c32dcfbcb1
API_TOKEN = eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI0ZjhhZmIzNTg4MWE4NzNhZDBhYmM1YzMyZGNmYmNiMSIsIm5iZiI6MTY1MDM5MDA1Mi42NDk5OTk5LCJzdWIiOiI2MjVlZjQyNGE1MDQ2ZTAwYTQ3MWYzMGQiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.MLHk3L0kQmmiCZi03FcfALHc_Sc_YXcyLjI3siu3nhQ
